[
    Request(
        can_id: 0x7df,
        message: [0x02, 0x10, 0x81, 0x00, 0x00, 0x00, 0x00, 0x00],
        response: [
            Raw(RawResponse(
                can_id: 0x74f,
                message: [0x02, 0x50, 0x81, 0x11, 0x00, 0x00, 0x00, 0x0]
            )),
            Raw(RawResponse(
                can_id: 0x7bb,
                message: [0x02, 0x50, 0x81, 0x11, 0x00, 0x00, 0x00, 0x0]
            )),
            Raw(RawResponse(
                can_id: 0x7ea,
                message: [0x02, 0x50, 0x81, 0x11, 0x00, 0x00, 0x00, 0x0]
            )),
            Raw(RawResponse(
                can_id: 0x7eb,
                message: [0x02, 0x50, 0x81, 0x11, 0x00, 0x00, 0x00, 0x0]
            )),
            Raw(RawResponse(
                can_id: 0x7ec,
                message: [0x02, 0x50, 0x81, 0x11, 0x00, 0x00, 0x00, 0x0]
            )),
            Raw(RawResponse(
                can_id: 0x7ed,
                message: [0x02, 0x50, 0x81, 0x11, 0x00, 0x00, 0x00, 0x0]
            )),
        ]
    ),
    Request(
        can_id: 0x7df,
        message: [0x01, 0x20, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00],
        response: [
            Raw(RawResponse(
                can_id: 0x7dc,
                message: [0x01, 0x60, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa]
            )),
        ]
    ),
    Request(
        can_id: 0x7df,
        message: [0x01, 0x20, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00],
        response: [
            Raw(RawResponse(
                can_id: 0x7dc,
                message: [0x01, 0x60, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa]
            )),
            Raw(RawResponse(
                can_id: 0x74f,
                message: [0x01, 0x60, 0x20, 0x11, 0x00, 0x00, 0x00, 0x00]
            )),
            Raw(RawResponse(
                can_id: 0x7bb,
                message: [0x01, 0x60, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            )),
            Raw(RawResponse(
                can_id: 0x79e,
                message: [0x01, 0x60, 0x20, 0x11, 0x00, 0x00, 0x00, 0x00]
            )),
            Raw(RawResponse(
                can_id: 0x7eb,
                message: [0x01, 0x60, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            )),
            Raw(RawResponse(
                can_id: 0x73e,
                message: [0x01, 0x60, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa]
            )),
            Raw(RawResponse(
                can_id: 0x7d9,
                message: [0x01, 0x60, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa]
            )),
            Raw(RawResponse(
                can_id: 0x7ed,
                message: [0x01, 0x60, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            )),
            Raw(RawResponse(
                can_id: 0x7e9,
                message: [0x01, 0x60, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa]
            )),
            Raw(RawResponse(
                can_id: 0x7ea,
                message: [0x01, 0x60, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            )),
            Raw(RawResponse(
                can_id: 0x7da,
                message: [0x03, 0x7f, 0x20, 0x7f, 0xaa, 0xaa, 0xaa, 0xaa]
            )),
            Raw(RawResponse(
                can_id: 0x7ec,
                message: [0x01, 0x60, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00]
            )),
            Raw(RawResponse(
                can_id: 0x778,
                message: [0x01, 0x60, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa]
            )),
            Raw(RawResponse(
                can_id: 0x7a8,
                message: [0x01, 0x60, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa]
            )),
        ]
    ),
    Request(
        can_id: 0x7e4,
        message: [0x02, 0x10, 0x90, 0x00, 0x00, 0x00, 0x00, 0x00],
        response: [
            Raw(RawResponse(
                can_id: 0x7ec,
                message: [0x02, 0x50, 0x90, 0x00, 0x00, 0x00, 0x00, 0x00]
            )),
        ]
    ),



    Request(
        can_id: 0x7e4,
        message: [0x02, 0x21, 0x01, 0x00, 0x00, 0x00, 0x00, 0x00],
        response: [
            Consecutive(ConsecutiveResponse(
                can_id: 0x7ec,
                message: [
                    0x61, 0x01, 0xff, 0xff, 0xff, 0xff,
                    //% CHARGED CAPACITY
                    0xbd, 0x12, 0xfc, 0x16, 0xf8, 0x03, 0x00,
                    //                MAX MODULE TEMP  MIN MODULE TEMP
                    0x04, 0x0f, 0x7f, 0x20,            0x15, 0x15, 0x14,
                    0x15, 0x15, 0x17, 0x00, 0x17, 0xce, 0x02,
                    0xce, 0x34, 0x00, 0xff, 0x90, 0x00, 0x01,
                    0xf9, 0xd0, 0x00, 0x01, 0xf9, 0x93, 0x00,
                    0x00, 0xb5, 0xf8, 0x00, 0x00, 0xb1, 0x1e,
                    /*
                                            0 - MCU ready
                                            1 - MCU releay off request
                                            2 - MCU contrable
                                            3 - MCU(GCU) ready
                                            4 - MCU(GCU) releay off request
                                            5 - MCU(GCU) contrable
                                            6 - HCU ready
                                            7 - ice on HCU
                    WORKING TIME SECCCCCCC  SIGNALSSSS  CAP VOLTAGE */
                    0x00, 0xc2, 0xc6, 0xea, 0b01101101, 0x01, 0x8c,
                    //    *256 +  *1  *256 +  *1
                    //RPM ELECTR  RPM HSGGGG  ISOlATION R
                      0x02, 0x01, 0x00, 0x00, 0x03, 0xe8
                ]
            )),
        ]
    )
]