[
    Request(
        can_id: 0x7df,
        message: [0x02, 0x01, 0x05, 0x00, 0x00, 0x00, 0x00, 0x00],
        response: [
            Raw(RawResponse(
                can_id: 0x7e8,
                message: [0x03, 0x41, 0x05, 0x7f, 0xaa, 0xaa, 0xaa]
            ))
        ]
    )
]