[
    Request(
        can_id: 0x770,
        message: [0x02, 0x10, 0x03, 0x00, 0x00, 0x00, 0x00, 0x00],
        response: [
            Raw(RawResponse(
                can_id: 0x778,
                message: [0x06, 0x50, 0x03, 0x00, 0x32, 0x01, 0xf4, 0xaa]
            )),            
        ]
    ),

    Request(
        can_id: 0x770,
        message: [0x03, 0x22, 0x00, 0x0b, 0x00, 0x00, 0x00, 0x00],
        response: [
            Consecutive(ConsecutiveResponse(
                can_id: 0x778,
                message: [
                //   0     1     2     3     4     5
                    0x62, 0x00, 0x0b, 0xf0, 0x00, 0x00,
                //        BAT DISCHARGE WARNING FIRST                                     BATTERY DISCHARGE FIRST
                //        EVENT MILEAGE                                                   EVENT SoC
                //        0x01 = 6553.6     0x01 = 25.6     0x01 = 0.1                    0-100 directly
                //        0xFF = 1671168    0xFF = 6528     0xFF = 25.5
                //    0    1                 2               3                             4
                    0x00, 0x00,             0x00,           0x00,                         0x00, 
                //  BAT DISCHARGE WARNING FINAL
                //  EVENT MILAGE
                //  SAME AS FIRST EVENT MILAGE
                //   5      6     7
                    0x00, 0x00, 0x00, 
                //  BATTERTY DISCHARGE FINAL
                //  EVENT SoC
                //  SAME AS FIRST EVENT SoC
                //   8
                    0x43, 
                //   9     10    11    12    13
                    0xaa, 0xaa, 0xaa, 0xaa, 0xaa
                ]
            )),
        ]
    ),
    Request(
        can_id: 0x770,
        message: [0x03, 0x22, 0x00, 0x0c, 0x00, 0x00, 0x00, 0x00],
        response: [
            Consecutive(ConsecutiveResponse(
                can_id: 0x778,
                message: [
                    0x62, 0x00, 0x0b, 0xf0, 0x00, 0x00,
                    0x00, 0x00, 0x00, 0x00, 0x00, 0xaa, 0xaa,
                ]
            )),
        ]
    ),
    Request(
        can_id: 0x770,
        message: [0x03, 0x22, 0x00, 0x0c, 0x00, 0x00, 0x00, 0x00],
        response: [
            Consecutive(ConsecutiveResponse(
                can_id: 0x778,
                message: [
                    0x62, 0x00, 0x0c, 0xe0, 0x00, 0x00,
                    0x00, 0x64, 0xff, 0x4c, 0xaa, 0xaa, 0xaa,
                ]
            )),
        ]
    ),
    Request(
        can_id: 0x770,
        message: [0x03, 0x22, 0x00, 0x0d, 0x00, 0x00, 0x00, 0x00],
        response: [
            Consecutive(ConsecutiveResponse(
                can_id: 0x778,
                message: [
                    0x62, 0x00, 0xd, 0x80, 0x00, 0x00,
                    0x00, 0x00, 0x3, 0xe8, 0xaa, 0xaa, 0xaa,
                ]
            )),
        ]
    ),



    Request(
        can_id: 0x770,
        message: [0x03, 0x22, 0xbc, 0x03, 0x00, 0x00, 0x00, 0x00],
        response: [
            Consecutive(ConsecutiveResponse(
                can_id: 0x778,
                message: [
                //   0     1     2     3     4     5
                    0x62, 0xbc, 0x03, 0xfd, 0xee, 0x20,
                //   6
                    0x00, 
                //   7    
                    0b00000000, 
                    //0b00000001 -> switch open back door driver side CLOSE = 0, OPEN = 1
                    //0b00000010 -> actuator back door driver side UNLOCK = 1, LOCK = 0
                    //0b00000100 -> switch open back door passenger side CLOSE = 0, OPEN = 1
                    //0b00001000 -> actuator back door passenger side UNLOCK = 1, LOCK = 0
                    //0b00010000 -> switch open front door passenger side CLOSE = 0, OPEN = 1
                    //0b00100000 -> switch open front door driver side CLOSE = 0, OPEN = 1
                    //0b10000000 -> switch open trunk CLOSE = 0, OPEN = 1


                    0b00000000, 
                    //0b00000001 -> switch open engine hood CLOSE = 0, OPEN = 1
                    //0b00000010 -> switch driver buckle BUCKLED = 1, UNBUCKLED = 0
                    //0b00000100 -> switch passenger buckle BUCKLED = 1, UNBUCKLED = 0
                    //0b00010000 -> switch breaking fluid? ON = 1, OFF = 0
                    //0b00100000 -> switch ignition 1 ON = 1, OFF = 0
                    //0b01000000 -> switch ignition 2 ON = 1, OFF = 0

                    0b00000100, 
                    //0b00000100 -> input signal back AV??
                    
                    
                    0x00, 0xaa, 0xaa
                ]
            )),
        ]
    ),
    /*
    [2024-11-23T16:48:44Z WARN  host] Unhandled CAN ID: 770 [2, 3e, 0, 0, 0, 0, 0, 0]
    [2024-11-23T16:48:45Z WARN  host] Unhandled CAN ID: 770 [3, 22, bc, 7, 0, 0, 0, 0]
    [2024-11-23T16:48:45Z WARN  host] Unhandled CAN ID: 770 [3, 22, bc, 8, 0, 0, 0, 0]
    [2024-11-23T16:48:46Z WARN  host] Unhandled CAN ID: 770 [3, 22, bc, 8, 0, 0, 0, 0]
    [2024-11-23T16:48:46Z WARN  host] Unhandled CAN ID: 770 [3, 22, bc, 8, 0, 0, 0, 0]
    [2024-11-23T16:48:47Z WARN  host] Unhandled CAN ID: 770 [1, 20, 0, 0, 0, 0, 0, 0]
    */

    Request(
        can_id: 0x770,
        message: [0x03, 0x22, 0xbc, 0x01, 0x00, 0x00, 0x00, 0x00],
        response: [
            Consecutive(ConsecutiveResponse(
                can_id: 0x778,
                message: [
                    0x62, 0xbc, 0x01, 0x5a, 0x00, 0x00,
                    0x00, 0x00, 0x02, 0x00, 0x02, 0x02, 0x00,
                    0x02, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa, 0xaa,
                ]
            )),
        ]
    ),
    Request(
        can_id: 0x770,
        message: [0x03, 0x22, 0xbc, 0x04, 0x00, 0x00, 0x00, 0x00],
        response: [
            Consecutive(ConsecutiveResponse(
                can_id: 0x778,
                message: [
                    0x62, 0xbc, 0x04, 0xb0, 0x23, 0x70,
                    0x20, 0x0d, 0x00, 0x00, 0x00, 0xaa, 0xaa
                ]
            )),
        ]
    ),
    Request(
        can_id: 0x770,
        message: [0x03, 0x22, 0xbc, 0x05, 0x00, 0x00, 0x00, 0x00],
        response: [
            Consecutive(ConsecutiveResponse(
                can_id: 0x778,
                message: [
                    0x62, 0xbc, 0x05, 0x2f, 0x13, 0x24,
                    0x02, 0x00, 0x40, 0x00, 0x00, 0xaa, 0xaa,
                ]
            )),
        ]
    ),
    Request(
        can_id: 0x770,
        message: [0x03, 0x22, 0xbc, 0x06, 0x00, 0x00, 0x00, 0x00],
        response: [
            Consecutive(ConsecutiveResponse(
                can_id: 0x778,
                message: [
                    0x62, 0xbc, 0x06, 0xb4, 0x80, 0x00,
                    0x00, 0x00, 0x00, 0x00, 0x00, 0xaa, 0xaa,
                ]
            )),
        ]
    ),
    Request(
        can_id: 0x770,
        message: [0x03, 0x22, 0xbc, 0x07, 0x00, 0x00, 0x00, 0x00],
        response: [
            Consecutive(ConsecutiveResponse(
                can_id: 0x778,
                message: [
                    0x62, 0xbc, 0x07, 0x08, 0x40, 0x43,
                    0xce, 0x00, 0x00, 0x00, 0x40, 0xaa, 0xaa,
                ]
            )),
        ]
    ),
    Request(
        can_id: 0x770,
        message: [0x03, 0x22, 0xbc, 0x08, 0x00, 0x00, 0x00, 0x00],
        response: [
            Consecutive(ConsecutiveResponse(
                can_id: 0x778,
                message: [
                    0x62, 0xbc, 0x08, 0x00, 0xd0, 0x90,
                    0xb8, 0x00, 0x01, 0x09, 0x1c, 0xaa, 0xaa,
                ]
            )),
        ]
    ),
    Request(
        can_id: 0x770,
        message: [0x03, 0x22, 0xbc, 0x09, 0x00, 0x00, 0x00, 0x00],
        response: [
            Consecutive(ConsecutiveResponse(
                can_id: 0x778,
                message: [
                    0x62, 0xbc, 0x09, 0x32, 0x20, 0x30,
                    0x3f, 0x00, 0x00, 0x00, 0x00, 0xaa, 0xaa,
                ]
            )),
        ]
    ),
    Request(
        can_id: 0x770,
        message: [0x03, 0x22, 0xbc, 0x10, 0x00, 0x00, 0x00, 0x00],
        response: [
            Consecutive(ConsecutiveResponse(
                can_id: 0x778,
                message: [
                    //0    1     2     3     4     5
                    0x62, 0xbc, 0x10, 0x0f, 0x08, 0x00,
                    //6    7
                    0x00, 0x00, 
                    //8
                    0b00010000, // on board charger wakeup output
                    //9    10    11    12
                    0x00, 0x00, 0xaa, 0xaa,
                ]
            )),
        ]
    ),
]