[
    Request(
        can_id: 0x7df,
        message: [0x02, 0x09, 0x02, 0x00, 0x00, 0x00, 0x00, 0x00],
        response: [
            Raw(RawResponse(
                can_id: 0x7ec,
                message: [0x10, 0x14, 0x49, 0x02, 0x01, 0x55, 0x35, 0x59]
            )),
            Raw(RawResponse(
                can_id: 0x7ec,
                message: [0x21, 0x48, 0x35, 0x46, 0x31, 0x41, 0x47, 0x4e]
            )),
            Raw(RawResponse(
                can_id: 0x7ec,
                message: [0x22, 0x4c, 0x30, 0x32, 0x39, 0x35, 0x32, 0x33]
            )),
        ]
    )
]