#include "base/base.config"
#include "fs/vfat.config"
#include "lvgl/lvgl_rkadk.config"
#include "fs/ubifs.config"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_DEVTMPFS=y
BR2_PACKAGE_EUDEV=n
BR2_PACKAGE_CAN_UTILS=y
BR2_PACKAGE_DIALOG=y
BR2_PACKAGE_DNSMASQ=n
BR2_PACKAGE_HOST_NTFS_3G=n
# Audio support is intentionally disabled; this board has no sound card.
BR2_PACKAGE_ALSA_LIB=n
BR2_PACKAGE_ALSA_PLUGINS=n
BR2_PACKAGE_ALSA_UCM_CONF=n
BR2_PACKAGE_ALSA_UTILS=n
BR2_PACKAGE_BLUEZ_ALSA=n
BR2_PACKAGE_BLUEZ5_UTILS_PLUGINS_AUDIO=n
BR2_PACKAGE_LIBMAD=n
BR2_PACKAGE_PULSEAUDIO=n
BR2_PACKAGE_RKWIFIBT_APP=n
BR2_PACKAGE_ROCKCHIP_ALSA_CONFIG=n
BR2_PACKAGE_SOX=n
BR2_PACKAGE_SPANDSP=n
BR2_PACKAGE_DTC=y
BR2_PACKAGE_DTC_PROGRAMS=y
BR2_PACKAGE_EVTEST=y
BR2_PACKAGE_FREETYPE=y
BR2_PACKAGE_FRECON=n
BR2_PACKAGE_FISH=y
BR2_PACKAGE_HOSTAPD=y
BR2_PACKAGE_HOSTAPD_EAP=y
BR2_PACKAGE_HOST_DTC=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y
BR2_PACKAGE_HTOP=y
BR2_PACKAGE_IPERF3=y
BR2_PACKAGE_IRQBALANCE=n
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_INPUT_EVENT_DAEMON=n
BR2_PACKAGE_LIBCAP=y
BR2_PACKAGE_LIBCURL=n
BR2_PACKAGE_LIBEVDEV=y
BR2_PACKAGE_LIBJPEG=y
BR2_PACKAGE_LIBOPENSSL_BIN=y
# BR2_PACKAGE_LVGL is reset to default
BR2_PACKAGE_MHZ=y
BR2_PACKAGE_MINICOM=n
BR2_PACKAGE_NANO=y
BR2_PACKAGE_NANOCOM=n
BR2_PACKAGE_NCURSES=y
BR2_PACKAGE_NCURSES_WCHAR=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_OPENSSH_GEN_KEYS=y
BR2_PACKAGE_PCRE2_16=y
BR2_PACKAGE_PCRE2_32=y
BR2_PACKAGE_PHYTOOL=y
BR2_PACKAGE_PICOCOM=y
BR2_PACKAGE_PPPD=n
BR2_PACKAGE_PPPD_FILTER=n
# BR2_PACKAGE_PULSEAUDIO is reset to default
BR2_PACKAGE_PYTHON3=n
BR2_PACKAGE_PYTHON3_SSL=n
BR2_PACKAGE_PYTHON_AIOHTTP=n
BR2_PACKAGE_PYTHON_CANOPEN=n
BR2_PACKAGE_PYTHON_CLICK=n
BR2_PACKAGE_PYTHON_ITSDANGEROUS=n
BR2_PACKAGE_PYTHON_JINJA2=n
BR2_PACKAGE_PYTHON_PERIPHERY=n
BR2_PACKAGE_PYTHON_PILLOW=n
BR2_PACKAGE_PYTHON_SERIAL=n
BR2_PACKAGE_PYTHON_SETUPTOOLS=n
BR2_PACKAGE_PYTHON_SMBUS_CFFI=n
BR2_PACKAGE_PYTHON_SPIDEV=n
BR2_PACKAGE_PYTHON_WERKZEUG=n
BR2_PACKAGE_RIPGREP=y
BR2_PER_PACKAGE_DIRECTORIES=y
BR2_PACKAGE_RK3506=y
BR2_PACKAGE_RKADK=n
BR2_PACKAGE_ROCKIT=n
BR2_PACKAGE_RKADK_PLAYER=n
BR2_PACKAGE_ROCKCHIP_RGA=y
BR2_PACKAGE_ROCKCHIP_TEST=n
BR2_PACKAGE_UTIL_LINUX_AGETTY=y
# BR2_PACKAGE_USBMOUNT is not set
BR2_PACKAGE_VIM=y
BR2_PACK_EXTRA_TARGET=y
# BR2_PREFER_ROCKCHIP_RGA is not set
BR2_ROCKCHIP_ALSA_CONFIG_INSTALL_INIT_SCRIPT=n
BR2_TARGET_GENERIC_HOSTNAME="luckfox"
BR2_TARGET_GENERIC_ISSUE="Welcome to Luckfox Lyra [root:luckfox]"
BR2_ROOTFS_OVERLAY+=" /project/device/rootfs"
BR2_ROOTFS_POST_BUILD_SCRIPT+=" /project/device/rootfs/post-build.sh"
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_TARGET_GENERIC_ROOT_PASSWD="luckfox"
BR2_TARGET_ROOTFS_SQUASHFS4_LZ4=y
BR2_TARGET_ROOTFS_UBI_SQUASHFS=y
# BR2_TARGET_ROOTFS_UBI_SQUASHFS_STATIC is not set
BR2_TARGET_SERIAL_SHELL_GETTY=y
BR2_TIME_BITS_64=y
BR2_arm=y
BR2_cortex_a7=y
